Help4TravelingWeb/src/conf/xml-resources/web-service-references/publicador/wsdl/localhost_9128/publicador.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://ServidorPublicador/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ServidorPublicador/">

<xs:complexType name="dataServiciosCategoriasArrayList">
<xs:sequence>
<xs:element name="serviciosCategorias" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataServiciosPromocionesArrayList">
<xs:sequence>
<xs:element name="serviciosPromociones" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtServicio">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nkproveedor" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="descripcion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="imagenes" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="categorias">
<xs:complexType>
<xs:sequence>
<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="key" minOccurs="0" type="xs:string"></xs:element>
<xs:element name="value" minOccurs="0" type="tns:dtCategoria"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="categoriasservicio" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="precio" type="xs:float"></xs:element>
<xs:element name="nomciuorigen" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nomciudestino" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtCategoria">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="padre" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataUsuariosSistemaArrayList">
<xs:sequence>
<xs:element name="usuariosSistema" type="tns:dtUsuario" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtUsuario">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="apellido" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nickname" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="correo" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="password" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nacimiento" type="tns:date" minOccurs="0"></xs:element>
<xs:element name="imagen" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="tipo" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="empresa" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="link" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="date">
<xs:sequence>
<xs:element name="dia" type="xs:int"></xs:element>
<xs:element name="mes" type="xs:int"></xs:element>
<xs:element name="ano" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataPromocionesArrayList">
<xs:sequence>
<xs:element name="promociones" type="tns:dtPromocion" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtPromocion">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="proveedor" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="precio" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="descuento" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="servicios" type="tns:dtServicio" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataProveedoresArrayList">
<xs:sequence>
<xs:element name="proveedores" type="tns:dtUsuario" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataPromocionesProveedorArrayList">
<xs:sequence>
<xs:element name="promocionesProveedor" type="tns:dtPromocion" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataNombresCategoriasArrayList">
<xs:sequence>
<xs:element name="categorias" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reserva">
<xs:sequence>
<xs:element name="id" type="xs:long"></xs:element>
<xs:element name="estado" type="tns:eEstado" minOccurs="0"></xs:element>
<xs:element name="creada" type="tns:date" minOccurs="0"></xs:element>
<xs:element name="total" type="xs:double"></xs:element>
<xs:element name="cliente" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="items">
<xs:complexType>
<xs:sequence>
<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="key" minOccurs="0" type="xs:int"></xs:element>
<xs:element name="value" minOccurs="0" type="tns:itemReserva"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="itemReserva">
<xs:sequence>
<xs:element name="cantidad" type="xs:int"></xs:element>
<xs:element name="fin" type="tns:date" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:int"></xs:element>
<xs:element name="inicio" type="tns:date" minOccurs="0"></xs:element>
<xs:element name="oferta" type="tns:oferta" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="oferta" abstract="true">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="proveedor" type="tns:proveedor" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="proveedor">
<xs:complexContent>
<xs:extension base="tns:usuario">
<xs:sequence>
<xs:element name="empresa" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="link" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="promocionesNom">
<xs:complexType>
<xs:sequence>
<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="key" minOccurs="0" type="xs:string"></xs:element>
<xs:element name="value" minOccurs="0" type="tns:promocion"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="serviciosNom">
<xs:complexType>
<xs:sequence>
<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="key" minOccurs="0" type="xs:string"></xs:element>
<xs:element name="value" minOccurs="0" type="tns:servicio"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="usuario" abstract="true">
<xs:sequence>
<xs:element name="apellido" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="correo" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="imagen" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nacimiento" type="tns:date" minOccurs="0"></xs:element>
<xs:element name="nickname" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="password" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="promocion">
<xs:complexContent>
<xs:extension base="tns:oferta">
<xs:sequence>
<xs:element name="descuento" type="xs:float"></xs:element>
<xs:element name="serviciosNom">
<xs:complexType>
<xs:sequence>
<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="key" minOccurs="0" type="xs:string"></xs:element>
<xs:element name="value" minOccurs="0" type="tns:servicio"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="servicio">
<xs:complexContent>
<xs:extension base="tns:oferta">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="destino" type="tns:ciudad" minOccurs="0"></xs:element>
<xs:element name="imagenes" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="origen" type="tns:ciudad" minOccurs="0"></xs:element>
<xs:element name="precio" type="xs:float"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="ciudad">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="pais" type="tns:pais" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pais">
<xs:sequence>
<xs:element name="ciudades" type="tns:ciudad" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataItemsReservasArrayList">
<xs:sequence>
<xs:element name="items" type="tns:dtItemReserva" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtItemReserva">
<xs:sequence>
<xs:element name="id" type="xs:int"></xs:element>
<xs:element name="cantidad" type="xs:int"></xs:element>
<xs:element name="inicio" type="tns:date" minOccurs="0"></xs:element>
<xs:element name="fin" type="tns:date" minOccurs="0"></xs:element>
<xs:element name="oferta" type="tns:oferta" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataServiciosArrayList">
<xs:sequence>
<xs:element name="servicios" type="tns:dtServicio" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataServiciosProveedorArrayList">
<xs:sequence>
<xs:element name="serviciosProveedor" type="tns:dtServicio" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataReservasUsuarioArrayList">
<xs:sequence>
<xs:element name="reservasUsuario" type="tns:dtReserva" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtReserva">
<xs:sequence>
<xs:element name="id" type="xs:long"></xs:element>
<xs:element name="estado" type="tns:eEstado" minOccurs="0"></xs:element>
<xs:element name="creada" type="tns:date" minOccurs="0"></xs:element>
<xs:element name="total" type="xs:double"></xs:element>
<xs:element name="cliente" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="items">
<xs:complexType>
<xs:sequence>
<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="key" minOccurs="0" type="xs:int"></xs:element>
<xs:element name="value" minOccurs="0" type="tns:itemReserva"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="conexion" type="tns:conexion" minOccurs="0"></xs:element>
<xs:element name="sql" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="conexion">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="dataReservasProveedorArrayList">
<xs:sequence>
<xs:element name="reservasProveedor" type="tns:dtReserva" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="eEstado">
<xs:restriction base="xs:string">
<xs:enumeration value="REGISTRADA"></xs:enumeration>
<xs:enumeration value="CANCELADA"></xs:enumeration>
<xs:enumeration value="PAGADA"></xs:enumeration>
<xs:enumeration value="FACTURADA"></xs:enumeration>
</xs:restriction>
</xs:simpleType>
</xs:schema>