Help4TravelingWeb/src/conf/xml-resources/web-service-references/publicador/wsdl/localhost_9128/publicador.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ServidorPublicador/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ServidorPublicador/" name="PublicadorService">
<types>
<xsd:schema>
<xsd:import namespace="http://ServidorPublicador/" schemaLocation="http://localhost:9128/publicador?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="existeProveedor">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="existeProveedorResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="Comprobacion">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="ComprobacionResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="Registrar">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
<part name="arg3" type="xsd:string"></part>
<part name="arg4" type="xsd:string"></part>
<part name="arg5" type="xsd:string"></part>
<part name="arg6" type="xsd:string"></part>
</message>
<message name="RegistrarResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="listarUsuariosSistema"></message>
<message name="listarUsuariosSistemaResponse">
<part name="return" type="tns:arrayList"></part>
</message>
<message name="imagenPerfilUsuario">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="imagenPerfilUsuarioResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="listarPromociones"></message>
<message name="listarPromocionesResponse">
<part name="return" type="tns:arrayList"></part>
</message>
<message name="listarProveedores"></message>
<message name="listarProveedoresResponse">
<part name="return" type="tns:arrayList"></part>
</message>
<message name="listarServiciosDePromociones">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="listarServiciosDePromocionesResponse">
<part name="return" type="tns:arrayList"></part>
</message>
<message name="listarPromocionesProveedor">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="listarPromocionesProveedorResponse">
<part name="return" type="tns:arrayList"></part>
</message>
<message name="Autenticacion">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="AutenticacionResponse">
<part name="return" type="tns:dtUsuario"></part>
</message>
<message name="existeServicio">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="existeServicioResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="getDtServicio">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="getDtServicioResponse">
<part name="return" type="tns:dtServicio"></part>
</message>
<message name="listarItems">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="listarItemsResponse">
<part name="return" type="tns:arrayList"></part>
</message>
<message name="getDtUsuario">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="getDtUsuarioResponse">
<part name="return" type="tns:dtUsuario"></part>
</message>
<message name="listarServiciosCategoria">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="listarServiciosCategoriaResponse">
<part name="return" type="tns:arrayList"></part>
</message>
<message name="getNkProveedorServicio">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="getNkProveedorServicioResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="obtenerCategoriasHijas">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="obtenerCategoriasHijasResponse">
<part name="return" type="tns:arrayList"></part>
</message>
<message name="obtenerPadre">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="obtenerPadreResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="getDtProveedor">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="getDtProveedorResponse">
<part name="return" type="tns:dtUsuario"></part>
</message>
<message name="getDTPromocion">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="getDTPromocionResponse">
<part name="return" type="tns:dtPromocion"></part>
</message>
<message name="listarServiciosProveedor">
<part name="arg0" type="tns:dtUsuario"></part>
</message>
<message name="listarServiciosProveedorResponse">
<part name="return" type="tns:arrayList"></part>
</message>
<portType name="Publicador">
<operation name="existeProveedor">
<input wsam:Action="http://ServidorPublicador/Publicador/existeProveedorRequest" message="tns:existeProveedor"></input>
<output wsam:Action="http://ServidorPublicador/Publicador/existeProveedorResponse" message="tns:existeProveedorResponse"></output>
</operation>
<operation name="Comprobacion" parameterOrder="arg0 arg1">
<input wsam:Action="http://ServidorPublicador/Publicador/ComprobacionRequest" message="tns:Comprobacion"></input>
<output wsam:Action="http://ServidorPublicador/Publicador/ComprobacionResponse" message="tns:ComprobacionResponse"></output>
</operation>
<operation name="Registrar" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5 arg6">
<input wsam:Action="http://ServidorPublicador/Publicador/RegistrarRequest" message="tns:Registrar"></input>
<output wsam:Action="http://ServidorPublicador/Publicador/RegistrarResponse" message="tns:RegistrarResponse"></output>
</operation>
<operation name="listarUsuariosSistema">
<input wsam:Action="http://ServidorPublicador/Publicador/listarUsuariosSistemaRequest" message="tns:listarUsuariosSistema"></input>
<output wsam:Action="http://ServidorPublicador/Publicador/listarUsuariosSistemaResponse" message="tns:listarUsuariosSistemaResponse"></output>
</operation>
<operation name="imagenPerfilUsuario">
<input wsam:Action="http://ServidorPublicador/Publicador/imagenPerfilUsuarioRequest" message="tns:imagenPerfilUsuario"></input>
<output wsam:Action="http://ServidorPublicador/Publicador/imagenPerfilUsuarioResponse" message="tns:imagenPerfilUsuarioResponse"></output>
</operation>
<operation name="listarPromociones">
<input wsam:Action="http://ServidorPublicador/Publicador/listarPromocionesRequest" message="tns:listarPromociones"></input>
<output wsam:Action="http://ServidorPublicador/Publicador/listarPromocionesResponse" message="tns:listarPromocionesResponse"></output>
</operation>
<operation name="listarProveedores">
<input wsam:Action="http://ServidorPublicador/Publicador/listarProveedoresRequest" message="tns:listarProveedores"></input>
<output wsam:Action="http://ServidorPublicador/Publicador/listarProveedoresResponse" message="tns:listarProveedoresResponse"></output>
</operation>
<operation name="listarServiciosDePromociones" parameterOrder="arg0 arg1">
<input wsam:Action="http://ServidorPublicador/Publicador/listarServiciosDePromocionesRequest" message="tns:listarServiciosDePromociones"></input>
<output wsam:Action="http://ServidorPublicador/Publicador/listarServiciosDePromocionesResponse" message="tns:listarServiciosDePromocionesResponse"></output>
</operation>
<operation name="listarPromocionesProveedor">
<input wsam:Action="http://ServidorPublicador/Publicador/listarPromocionesProveedorRequest" message="tns:listarPromocionesProveedor"></input>
<output wsam:Action="http://ServidorPublicador/Publicador/listarPromocionesProveedorResponse" message="tns:listarPromocionesProveedorResponse"></output>
</operation>
<operation name="Autenticacion" parameterOrder="arg0 arg1">
<input wsam:Action="http://ServidorPublicador/Publicador/AutenticacionRequest" message="tns:Autenticacion"></input>
<output wsam:Action="http://ServidorPublicador/Publicador/AutenticacionResponse" message="tns:AutenticacionResponse"></output>
</operation>
<operation name="existeServicio">
<input wsam:Action="http://ServidorPublicador/Publicador/existeServicioRequest" message="tns:existeServicio"></input>
<output wsam:Action="http://ServidorPublicador/Publicador/existeServicioResponse" message="tns:existeServicioResponse"></output>
</operation>
<operation name="getDtServicio" parameterOrder="arg0 arg1">
<input wsam:Action="http://ServidorPublicador/Publicador/getDtServicioRequest" message="tns:getDtServicio"></input>
<output wsam:Action="http://ServidorPublicador/Publicador/getDtServicioResponse" message="tns:getDtServicioResponse"></output>
</operation>
<operation name="listarItems">
<input wsam:Action="http://ServidorPublicador/Publicador/listarItemsRequest" message="tns:listarItems"></input>
<output wsam:Action="http://ServidorPublicador/Publicador/listarItemsResponse" message="tns:listarItemsResponse"></output>
</operation>
<operation name="getDtUsuario">
<input wsam:Action="http://ServidorPublicador/Publicador/getDtUsuarioRequest" message="tns:getDtUsuario"></input>
<output wsam:Action="http://ServidorPublicador/Publicador/getDtUsuarioResponse" message="tns:getDtUsuarioResponse"></output>
</operation>
<operation name="listarServiciosCategoria">
<input wsam:Action="http://ServidorPublicador/Publicador/listarServiciosCategoriaRequest" message="tns:listarServiciosCategoria"></input>
<output wsam:Action="http://ServidorPublicador/Publicador/listarServiciosCategoriaResponse" message="tns:listarServiciosCategoriaResponse"></output>
</operation>
<operation name="getNkProveedorServicio">
<input wsam:Action="http://ServidorPublicador/Publicador/getNkProveedorServicioRequest" message="tns:getNkProveedorServicio"></input>
<output wsam:Action="http://ServidorPublicador/Publicador/getNkProveedorServicioResponse" message="tns:getNkProveedorServicioResponse"></output>
</operation>
<operation name="obtenerCategoriasHijas">
<input wsam:Action="http://ServidorPublicador/Publicador/obtenerCategoriasHijasRequest" message="tns:obtenerCategoriasHijas"></input>
<output wsam:Action="http://ServidorPublicador/Publicador/obtenerCategoriasHijasResponse" message="tns:obtenerCategoriasHijasResponse"></output>
</operation>
<operation name="obtenerPadre">
<input wsam:Action="http://ServidorPublicador/Publicador/obtenerPadreRequest" message="tns:obtenerPadre"></input>
<output wsam:Action="http://ServidorPublicador/Publicador/obtenerPadreResponse" message="tns:obtenerPadreResponse"></output>
</operation>
<operation name="getDtProveedor">
<input wsam:Action="http://ServidorPublicador/Publicador/getDtProveedorRequest" message="tns:getDtProveedor"></input>
<output wsam:Action="http://ServidorPublicador/Publicador/getDtProveedorResponse" message="tns:getDtProveedorResponse"></output>
</operation>
<operation name="getDTPromocion" parameterOrder="arg0 arg1">
<input wsam:Action="http://ServidorPublicador/Publicador/getDTPromocionRequest" message="tns:getDTPromocion"></input>
<output wsam:Action="http://ServidorPublicador/Publicador/getDTPromocionResponse" message="tns:getDTPromocionResponse"></output>
</operation>
<operation name="listarServiciosProveedor">
<input wsam:Action="http://ServidorPublicador/Publicador/listarServiciosProveedorRequest" message="tns:listarServiciosProveedor"></input>
<output wsam:Action="http://ServidorPublicador/Publicador/listarServiciosProveedorResponse" message="tns:listarServiciosProveedorResponse"></output>
</operation>
</portType>
<binding name="PublicadorPortBinding" type="tns:Publicador">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="existeProveedor">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://ServidorPublicador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://ServidorPublicador/"></soap:body>
</output>
</operation>
<operation name="Comprobacion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://ServidorPublicador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://ServidorPublicador/"></soap:body>
</output>
</operation>
<operation name="Registrar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://ServidorPublicador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://ServidorPublicador/"></soap:body>
</output>
</operation>
<operation name="listarUsuariosSistema">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://ServidorPublicador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://ServidorPublicador/"></soap:body>
</output>
</operation>
<operation name="imagenPerfilUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://ServidorPublicador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://ServidorPublicador/"></soap:body>
</output>
</operation>
<operation name="listarPromociones">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://ServidorPublicador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://ServidorPublicador/"></soap:body>
</output>
</operation>
<operation name="listarProveedores">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://ServidorPublicador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://ServidorPublicador/"></soap:body>
</output>
</operation>
<operation name="listarServiciosDePromociones">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://ServidorPublicador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://ServidorPublicador/"></soap:body>
</output>
</operation>
<operation name="listarPromocionesProveedor">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://ServidorPublicador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://ServidorPublicador/"></soap:body>
</output>
</operation>
<operation name="Autenticacion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://ServidorPublicador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://ServidorPublicador/"></soap:body>
</output>
</operation>
<operation name="existeServicio">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://ServidorPublicador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://ServidorPublicador/"></soap:body>
</output>
</operation>
<operation name="getDtServicio">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://ServidorPublicador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://ServidorPublicador/"></soap:body>
</output>
</operation>
<operation name="listarItems">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://ServidorPublicador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://ServidorPublicador/"></soap:body>
</output>
</operation>
<operation name="getDtUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://ServidorPublicador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://ServidorPublicador/"></soap:body>
</output>
</operation>
<operation name="listarServiciosCategoria">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://ServidorPublicador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://ServidorPublicador/"></soap:body>
</output>
</operation>
<operation name="getNkProveedorServicio">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://ServidorPublicador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://ServidorPublicador/"></soap:body>
</output>
</operation>
<operation name="obtenerCategoriasHijas">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://ServidorPublicador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://ServidorPublicador/"></soap:body>
</output>
</operation>
<operation name="obtenerPadre">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://ServidorPublicador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://ServidorPublicador/"></soap:body>
</output>
</operation>
<operation name="getDtProveedor">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://ServidorPublicador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://ServidorPublicador/"></soap:body>
</output>
</operation>
<operation name="getDTPromocion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://ServidorPublicador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://ServidorPublicador/"></soap:body>
</output>
</operation>
<operation name="listarServiciosProveedor">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://ServidorPublicador/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://ServidorPublicador/"></soap:body>
</output>
</operation>
</binding>
<service name="PublicadorService">
<port name="PublicadorPort" binding="tns:PublicadorPortBinding">
<soap:address location="http://localhost:9128/publicador"></soap:address>
</port>
</service>
</definitions>